/* website site css start */
html {
    font-size: 100%;
    font-family: "Gilroy-Regular";
}

body {
    font-size: 16px;
    font-family: "Gilroy-Regular";
    color: $black;
}

.dp-list-inline {
    li {
        display: inline-block;
    }
}

p {
    font-size: em(22);
    line-height: 30px;
    margin-bottom: 15px;
    font-family: "Gilroy-Light";
}

h2 {
    font-size: em(45);
    font-family: "gilroy-Medium";
    margin-bottom: 90px;
    z-index: 1;
    position: relative;
}

.dp-btn {
    text-decoration: none;
    display: inline-block;
    font-size: em(22);
    font-family: "Gilroy-ExtraBold";
    color: $white;
    line-height: 29px;
    padding: 10px;
    min-width: 180px;
    text-align: center;
    // border: 2px solid $white;
    @include primary-gradient;
    transition: all ease-in-out 0.2s;
    position: relative;
    letter-spacing: 2px;
    cursor: pointer;

    span {
        position: relative;
        z-index: 5;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0%;
        transition: inherit;
        @include secondary-gradient;
    }

    &:hover,
    &:focus,
    &:active {
        &::after {
            height: 100%;
        }
    }

}

// dp-prealoader
#dp-loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: #1C1D25;
    z-index: 3000;

    span {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80px;

        img {
            width: 100%;
        }

        animation: loader 2s infinite ease-in;
    }
}

@keyframes loader {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    25% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    75% {
        transform: translate(-50%, -50%) rotate(360deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes more-link {
    0% {
        bottom: 21px;
    }

    25% {
        bottom: -10px;
    }

    50% {
        bottom: 21px;
    }

    75% {
        bottom: -10px;
    }

    100% {
        bottom: 21px;
    }
}

.dp-darkHeader {
    background-color: $dark;
    border-bottom: 2px solid #f2f2f2;
    padding: 5px 0;
    height: auto;
    position: fixed;
}

// dp-stripe-bg
.dp-stripe-bg {
    display: inline-block;
    position: relative;
    color: $white;
    padding: 10px 40px;
    z-index: 99;

    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 10px;
        right: 10px;
        top: 0px;
        bottom: 0px;
        background-color: #26408B;
        transform: rotate(2deg);
        @include transition;
    }

    &::after {
        background-color: #EF3636;
        transform: rotate(0);
        left: 0px;
        right: 0px;
    }
}

// dp-tabs
.list-inline {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline>li {
    padding: 10px;
}

.tab-list-area li {
    cursor: pointer;
    float: left;
}

.active-tab {
    background-color: gray;
    color: #fff;
}

.tab-content-area .tab-content {
    padding: 25px;
    line-height: 35px;
    font-size: 25px;
    text-align: justify;
}

.tab-content-area .tab-content {
    display: none;
}

.active-content {
    display: block !important;
}

// dp-particle
#dp-particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $dark;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

    canvas {
        display: block;
    }
}

// dp-nav
nav {
    height: 90px;
    padding: 17px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    @include transition;
}

.dp-logo {
    float: left;
    width: 78px;

    svg {
        width: 100%;
        height: auto;
    }
}

.dp-navbar {
    margin: 0 -15px;
}

.dp-navigation {
    float: right;
    position: relative;
}

.dp-nav-links {
    li {
        display: inline-block;
        padding: 18px 0 18px 50px;

        &:first-child {
            padding-left: 0;
        }
    }

    a {
        font-size: em(22);
        font-family: "Gilroy-Bold";
        color: $white;
        opacity: 0.6;
        text-decoration: none;
        position: relative;
        @include transition;

        &:after,
        &:before {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0%;
            height: 2px;
            background-color: $site-color;
            transition: inherit;
        }

        &:before {
            bottom: -4px;
            left: auto;
            right: 0;
            background-color: $site-2-color;
        }

        &:hover,
        &:focus,
        &:active {
            opacity: 1;

            &:after,
            &:before {
                width: 100%;
            }
        }
    }
}

.dp-social-mobile {
    position: absolute;
    bottom: 30px;
    left: 0;
    min-width: 280px;
    max-width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: none;

    li {
        display: inline-block;
        margin: 0 5px;

        a {
            display: inline-block;
            width: 40px;
            color: $white;
            font-size: 26px;

            img {
                width: 100%;
            }
        }
    }
}

.dp-nav-toggle,
.dp-contact-close,
.dp-about-more-close {
    float: right;
    border: 0;
    background: $transparent;
    cursor: pointer;
    padding: 0;
    margin: 11px 0;
    display: none;

    span {
        display: block;
        height: 2px;
        width: 35px;
        background-color: $white;
        border-radius: 2px;
        margin: 10px 0;
        position: relative;

        &::after,
        &::before {
            content: "";
            position: absolute;
            top: -10px;
            left: 0;
            height: 2px;
            width: 100%;
            background-color: $white;
            border-radius: 2px;
        }

        &::before {
            top: auto;
            bottom: -10px;
        }
    }
}

.dp-nav-toggle-close,
.dp-contact-close,
.dp-about-more-close {
    position: absolute;
    top: 10px;
    right: 10px;

    span {
        padding: 7px;
        background: $transparent;

        &:after {
            transform: rotate(45deg);
            top: 0;
        }

        &:before {
            top: 0;
            transform: rotate(-45deg);
        }
    }
}

// dp-home
.dp-home {
    position: relative;

    .dp-container {
        position: relative;
        min-height: 650px;
        height: 100vh;
    }

    .dp-brand {
        width: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.2;

        img {
            width: 100%;
        }
    }
}

.dp-home-contant {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 20px 0;
    text-align: center;
}

.profile-pic {
    width: 250px;
    height: 250px;
    margin: 80px auto 15px auto;
    border-radius: 50%;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

.dp-info {
    h1 {
        font-size: em(66);
        font-family: "Gilroy-ExtraBold";
        color: $white;
        line-height: 90px;
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-size: em(22);
        color: $white;
        font-family: "Gilroy-lightItalic";
        font-weight: 600;
        margin-bottom: 40px;
    }
}

.dp-social-desktop {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 45px;

    li {
        text-align: center;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    a {
        font-size: em(60);
        color: #B0B2C3;
        @include transition;

        &:hover,
        &:active,
        &:focus {
            color: $white;
        }
    }
}

.dp-area-tag {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;

    a {
        text-decoration: none;
        font-weight: bold;
        color: $white;
        display: inline-block;
        padding-bottom: 45px;
        position: relative;
        @include transition;

        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 30px;
            transform: translateX(-50%);
            width: 2px;
            height: 40px;
            background-color: $white;
            @include transition;
        }

        &::before {
            content: '';
            position: absolute;
            height: 10px;
            width: 10px;
            background: $white;
            left: 50%;
            bottom: 6.5px;
            transform: translateX(-50%);
            border-radius: 50%;
            z-index: 1;
            animation: more-link 5s infinite ease-in-out;
            @include transition;
        }

        &:hover,
        &:focus,
        &:active {
            color: $site-color;

            &:after,
            &:before {
                background-color: $site-color;
            }
        }
    }
}

// dp-about
.dp-about {
    background: $white;
    padding: 80px 0;
}

.dp-about-contant {

    max-width: 1000px;

    label {
        font-size: em(22);
        font-weight: 500;
        margin-bottom: 40px;
        display: block;
    }

    p {
        font-size: em(35);
        font-family: "Gilroy-SemiBold";
        line-height: 50px;
        margin-bottom: 80px;
    }
}

// sp-skill
.dp-skill {
    padding: 80px 0 30px 0;
    @include primary-gradient;
    color: $white;

    h2 {
        margin-bottom: 70px;
    }
}

.dp-skill-info {
    position: relative;
    max-width: 430px;
    margin-bottom: 60px;

    label {
        display: block;
        font-size: em(28);
        line-height: 35px;
        font-family: "Gilroy-SemiBold";
        margin-bottom: 20px;
        position: relative;
        z-index: 5;
    }

    p {
        font-size: em(20);
        line-height: 28px;
        position: relative;
        z-index: 5;
    }

    .dp-skill-icon {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        opacity: 0.04;

        img {
            max-width: 100%;
        }
    }
}

// dp-work
.dp-work {
    padding: 80px 0;
}

.dp-work,
.dp-experiment,
.dp-testimonials {
    background-color: $white-gray;

    h2 {
        text-align: center;
        color: $primary-color;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    }
}

.dp-work-details {
    padding: 0 20px;

    .dp-work-info {
        margin-bottom: 100px;

        .dp-work-link {
            text-decoration: none;
            display: block;
            min-height: 480px;
            max-width: 930px;
            background-size: cover;
            background-position: top center;
            background-repeat: no-repeat;
            position: relative;
            @include transition;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                @include secondary-gradient;
                z-index: -1;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                @include blusih-gradient;
                opacity: 0.5;
            }
        }


        &:last-child {
            margin-bottom: 0;
        }

        &:nth-child(odd) {
            .dp-work-link {
                margin-right: auto;

                &::before {
                    right: -20px;
                    bottom: -20px;
                    @include transition;
                }
            }
        }

        &:nth-child(even) {
            .dp-work-link {
                margin-left: auto;

                &::before {
                    left: -20px;
                    bottom: -20px;
                    @include transition;
                }
            }
        }

        .dp-work-link {
            &:hover {
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 0.85;
                    @include transition;
                }

                .dp-work-name {
                    opacity: 1;
                }
            }
        }
    }
}

.dp-work-name {
    position: absolute;
    bottom: 35px;
    left: 65px;
    color: $white;
    cursor: pointer;
    z-index: 5;
    @include transition;

    h3 {
        font-size: em(50);
        font-family: "Gilroy-Bold";
        color: inherit;
        margin: 0 0 15px 0;
    }

    label {
        display: block;
        font-size: em(20);
        font-family: "Gilroy-LightItalic";
        color: inherit;
        margin: 0 0 25px 0;
        cursor: pointer;
        font-weight: bold;
    }
}

// dp-experiment
.dp-experiment {
    padding: 50px 0;
    overflow: hidden;
}

.dp-experiment-item {
    text-decoration: none;
    display: block;
    text-align: center;
    // @include secondary-gradient;
    @include primary-gradient;
    padding: 55px 15px;
    box-shadow: 0 0px 60px 0 rgba(0, 0, 0, .15);
    @include transition;

    figure {
        display: block;
        max-width: 299px;
        margin: 0 auto;
        margin-bottom: 40px;
        box-shadow: 0 15px 40px 1px rgba(0, 0, 0, .15);
        border-radius: 50%;
        overflow: hidden;
        @include transition;

        img {
            width: 100%;
            height: auto;
        }
    }


    label {
        display: block;
        font-size: em(25);
        color: $white;
        cursor: pointer;
    }

    &:hover,
    &:focus {
        @include secondary-gradient;
        transform: scale(1.05);
        position: relative;
        z-index: 50;
    }
}

// dp-testimonials
.dp-testimonials {
    padding: 50px 0 80px 0;
    position: relative;
    overflow: hidden;
    transition: all ease-in-out 0.5s;
}


.dp-testimonials.dp-stripe-animate {
    &::before {
        left: -100px;
    }

    &::after {
        right: -100px;
    }
}

.dp-testimonial-text {
    max-width: 1100px;
    margin: 0 auto;
    text-align: left;
    position: relative;

    .dp-testimonial-pic {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 0;
        top: 0;

        img {
            max-width: 100%;
        }
    }

    p {
        font-size: em(32);
        line-height: 1.5;
        font-family: "Gilroy-Medium";
        color: $black;
        position: relative;
        padding: 55px 0 20px 0;
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

        &::before {
            content: url('../img/quote-black.svg');
            position: absolute;
            top: 0;
            left: 0%;
        }
    }

    label {
        display: inline-block;
        position: relative;
        font-size: em(32);
        text-transform: uppercase;
        font-family: "Gilroy-Regular";
        background: $dark;
        color: $white;
        padding: 4px 8px;
    }

    .dp-testimonial-word {
        padding-left: 200px;
    }
}

.dp-testimonials-slider .slick-dots {
    text-align: center;
    margin-top: 40px;

    li {
        display: inline-block;
        padding: 10px 5px;

        button {
            padding: 0;
            border: 0;
            vertical-align: top;
            font-size: 0;
            width: 15px;
            height: 15px;
            line-height: 15px;
            border-radius: 50%;
            @include primary-gradient;
        }
    }

    li.slick-active {
        button {
            @include secondary-gradient;
        }
    }
}

// dp-footer

footer {
    background-color: $dark;
    padding: 10px 0 0 0;
    margin: 50px 0 0 0;
    position: relative;
    z-index: 1;
    overflow: visible visible;

    &::before {
        content: '';
        position: absolute;
        background-color: $dark;
        top: -40px;
        left: 0;
        width: 100%;
        height: 85px;
        transform: skewY(2deg);
    }
}

.dp-footer-content {
    max-width: 710px;
    margin: 100px auto 0 auto;
    text-align: center;
    color: $white;

    h2 {
        text-align: center;
        color: $white;
        font-size: em(56);
        line-height: 1.2;
        margin: 0;
    }

    label {
        display: block;

        a {
            display: inline-block;
            text-decoration: none;
            font-size: em(22);
            color: $white;
            letter-spacing: 2px;
            margin: 40px 0;
            @include transition;

            &:hover {
                color: $site-color;
            }
        }
    }

    .dp-logo {
        float: none;
        margin: 0 auto 40px auto;

        a {
            display: inline;

            &:hover {
                svg {
                    @include transition;

                    path {
                        @include transition;
                        fill: $site-color;
                    }
                }
            }
        }
    }
}

.dp-footer-links {
    border-top: 1px solid $white;
    text-align: center;
    padding: 40px 0;

    li {
        display: inline-block;
        margin: 0 35px;

        a {
            display: inline-block;
            text-decoration: none;
            font-size: em(16);
            letter-spacing: 2px;
            text-transform: uppercase;
            color: $white;
            @include transition;

            &:hover {
                color: $site-color;

                i {
                    @include transition;
                    color: $site-2-color;
                }
            }
        }
    }
}

// dp-contact
.dp-contact,
.dp-about-more {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $dark;
    z-index: 2030;
    @include transition;
    transform: scale(0);
    padding: 15px;
    overflow: auto;
}

.dp-contact-close,
.dp-about-more-close {
    display: block;
    z-index: 2020;
    transform: scale(0.8);
}

.dp-contact-content {
    position: absolute;
    top: 50%;
    left: 15px;
    right: 15px;
    transform: translateY(-50%);
    max-width: 1000px;
    min-height: 600px;
    height: 80vh;
    margin: 0 auto;
    box-shadow: 20px 80px 99px rgba(0, 0, 0, 0.19);
    border: 1px solid #868686;

    .dp-about-col {
        background-color: #F2F2F2;
        height: 100%;
        padding: 0;
    }

    .dp-form-col {
        background-color: $dark;
        height: 100%;
        padding: 0;
        color: $white;
    }

    h3 {
        font-size: em(32);
        font-family: "Gilroy-Bold";
        margin-bottom: 15px;
        color: inherit;
        position: relative;
        z-index: 1;
        letter-spacing: 4px;

        span {
            padding: 5px 15px;

            &::before {
                display: none;
            }

            &::after {
                transform: rotate(-2deg)
            }
        }
    }

    label {
        display: block;
        font-size: em(18);
        font-family: "Gilroy-Medium";
        margin-bottom: 40px;
    }

    p {
        font-size: em(18);
        line-height: 25px;

        span {
            color: $site-color;
            font-family: "Gilroy-SemiBold";
        }
    }

    .dp-btn {
        padding: 10px;
        min-width: 150px;
        margin-top: 25px;
    }
}

.dp-contact-form,
.dp-contact-about {
    padding: 50px;
    height: 100%;
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: bottom right -60px;
}

.dp-tech {
    span {
        display: inline-block;
        margin-right: 30px;
    }
}

.dp-form-input {
    margin-bottom: 25px;

    input,
    textarea {
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 2px solid $white;
        background-color: $transparent;
        padding: 10px;
        font-family: "Gilroy-Medium";
        font-size: em(18);
        resize: none;
        background-color: $white;
        font-style: italic;
        color: $dark;

        &:hover,
        &:focus,
        &:active {
            border-color: $site-color;
        }
    }

    input {
        height: 45px;
    }
}


.dp-contact-open {
    width: 100%;
    overflow: hidden !important;

    .dp-contact {
        transform: scale(1) !important;
    }
}

.dp-about-more-open {
    width: 100%;
    overflow: hidden !important;

    .dp-about-more {
        transform: scale(1) !important;
    }
}

// dp-about-more
.dp-about-more {
    z-index: 2040;
    padding: 60px 10px;
    overflow-x: hidden;

    .dp-about-more-close {
        top: 5px;
        right: 5px;
        margin: 0;
        padding: 5px 0px 0 0;

        &::before {
            content: '';
            position: absolute;
            height: 100px;
            width: 100px;
            top: -45px;
            right: -35px;
            transform: rotate(-45deg);
            border-radius: 50px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            background: $white;
        }

        span {
            z-index: 99;
            width: 45px;

            &::before,
            &::after {
                background-color: $dark;
            }
        }
    }
}

.dp-about-content {
    max-width: 1300px;
    min-height: 800px;
    margin: 0 auto;
    padding-left: 80px;
    position: relative;
    border: 1px solid #F2F2F2;
    background: #F2F2F2;
    font-size: em(20px);

    h3,
    p {
        text-align: left;
    }

    .tab-list-area {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        padding: 100px 10px 0 0;
        background-color: #1C1D25;

        ul.list-inline {
            position: sticky;
            top: 0;
        }

        li {
            float: none;
            text-align: center;
            padding: 0;
            background: none !important;
        }
    }

    .tab-content {
        padding: 40px 25px;
    }

    h3 {
        font-size: em(18);
        font-family: "Gilroy-Medium";
        margin-bottom: 20px;

        span {
            padding: 3px 20px;
        }
    }

    p {
        font-size: em(13);
        font-family: "Gilroy-Regular";
    }
}

.dp-tab-icon {
    width: 65px;
    padding: 85px 10px;
    border-radius: 33px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    margin-top: -48px;
    z-index: 70;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        background-image: url(../img/dp-tab-icon-about.svg);
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }

    img {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.active-tab {
    .dp-tab-icon {
        z-index: 1000 !important;
    }
}

.dp-tab-icon.certificate {
    z-index: 90;

    &::before {
        background-image: url(../img/dp-tab-icon-certificate.svg);
    }
}

.dp-tab-icon.skills {
    z-index: 80;

    &::before {
        background-image: url(../img/dp-tab-icon-skills.svg);
    }
}

.dp-about-text,
.dp-about-experience {
    margin-bottom: 50px;
}

.dp-about-contact {

    li {
        font-size: em(13);
        font-family: "Gilroy-Regular";
        line-height: 28px;
    }

    a {
        text-decoration: none;
        color: #000000;
    }

    ul:not(.dp-list-inline) {
        margin-bottom: 20px;

        li {
            a {
                font-family: "Gilroy-SemiBold";
            }
        }
    }

    ul.dp-list-inline {
        li {
            margin-right: 16px;
            font-size: em(16);
            @include transition;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.dp-cv-list {
    li {
        font-size: em(13);
        text-align: left;
        line-height: 30px;
        margin-bottom: 30px;

        label {
            font-family: "Gilroy-SemiBold";
            margin-right: 18px;
        }

        span {
            display: inline-block;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: -5px;
                right: -5px;
                bottom: 3px;
                height: 15px;
                background-color: #FFE100;
                opacity: 0.8;
            }
        }

        small {
            position: relative;
            z-index: 10;
        }
    }
}

.dp-about-certificate {
    h3 {
        margin-bottom: 40px;
    }
}

.dp-certificate {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;

    h3 {
        span {
            display: inline-block;
            position: relative;
            text-align: left;
            padding: 0;

            &::before {
                content: '';
                position: absolute;
                left: -5px;
                right: -5px;
                bottom: 3px;
                height: 15px;
                background-color: #FFE100;
                opacity: 0.8;
                transition: all ease-in-out 0.1s;
            }

            small {
                position: relative;
                z-index: 10;
            }
        }
    }

    .dp-certificate-img {
        img {
            max-width: 100%;
        }
    }

    &:hover {
        h3 {
            span {
                &::before {
                    height: 30px;
                }
            }
        }
    }
}

.dp-certificate-item {
    a {
        text-decoration: none;
        color: $black;
    }

    h3 {
        margin: 10px 0;
    }

    &:last-child {
        .dp-certificate {
            margin-bottom: 0 !important;
        }
    }
}

.dp-skill-list {
    max-width: 720px;
    margin: 0 auto;

    h3 {
        text-align: center;
        margin-bottom: 60px;
    }

    h3 {
        span:not(.dp-stripe-bg) {
            display: inline-block;
            position: relative;
            text-align: left;
            padding: 0;

            &::before {
                content: '';
                position: absolute;
                left: -5px;
                right: -5px;
                bottom: 3px;
                height: 15px;
                background-color: #FFE100;
                opacity: 0.8;
                transition: all ease-in-out 0.1s;
            }

            small {
                position: relative;
                z-index: 10;
            }
        }

        &:hover {
            span {
                &::before {
                    height: 30px;
                }
            }
        }
    }

    li {
        display: inline-block;
        text-align: center;
        margin-bottom: 50px;

        img {
            max-width: 80px;
            display: block;
            margin: 0 auto 12px auto;
        }
    }
}

.dp-more-skill-tag {
    margin-bottom: 0 !important;
}

// media

@media(max-width: $md) {

    h2 {
        font-size: em(40);
        margin-bottom: 40px;
    }

    .dp-stripe-bg {
        padding: 5px 30px;
    }

    .dp-navbar {
        margin: 0;
    }

    nav {
        height: 70px;
        padding: 7px 0;
    }

    .dp-logo {
        width: 60px;
        margin: 6px 0;
    }

    .profile-pic {
        margin-top: 30px;
        width: 210px;
        height: 210px;
    }

    .dp-info {
        h1 {
            font-size: em(52);
        }
    }

    .dp-about {
        padding: 70px 0;
    }

    .dp-skill {
        padding: 70px 0 50px 0;
    }

    .dp-work {
        padding: 70px 0;
    }

    .dp-testimonials {
        padding: 70px 0;
    }


    .dp-work-details {
        .dp-work-info {
            margin-bottom: 100px;

            .dp-work-link {
                min-height: 350px;
                max-width: 700px;
            }
        }
    }

    .dp-testimonials {

        &::before,
        &:after {
            transform: scale(0.5);
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }

    .dp-testimonials-slider .slick-dots {
        margin-top: 40px;
    }

    .dp-footer-content {
        margin-top: 100px;

        h2 {
            font-size: 3em;
        }
    }

    .dp-footer-links li {
        margin: 0 20px;
    }

    .dp-contact-form,
    .dp-contact-about {
        padding: 40px 30px;
    }

    .dp-about-content .tab-list-area {
        padding-right: 5px;
    }

    .dp-about-contact {
        margin-bottom: 50px;
    }

    .dp-about-content {
        padding-left: 50px;
    }

    .dp-tab-icon {
        width: 45px;
        padding: 56px 0;
        margin-top: -25px;

        img {
            width: 30px;
        }
    }
}

@media(max-width: $sm) {

    h2 {
        font-size: em(26);
    }

    .dp-btn {
        padding: 8px;
        min-width: 160px;
    }

    .dp-info h1 {
        line-height: 60px;
        margin-bottom: 30px;
    }

    nav {
        height: 55px;
        padding: 5px 0;
    }

    .dp-navigation {
        position: fixed;
        z-index: 2010;
        top: 0;
        left: -100%;
        width: 100%;
        @include secondary-gradient;
        min-height: 100vh;
        padding: 20px;
        @include transition;
    }

    .dp-navigation.dp-navigation-open {
        left: 0 !important;
    }

    .dp-nav-links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        min-width: 280px;
        max-width: 100%;

        li {
            display: block;
            padding: 0;
            margin: 0 0 30px 0;

            a {
                font-size: em(30);
            }
        }
    }

    .dp-logo {
        width: 45px;
    }

    .dp-nav-toggle,
    .dp-social-mobile {
        display: block;
    }

    .dp-brand {
        display: none;
    }

    .dp-home-contant {
        right: 0;
        width: 100%;
        margin: 0;
        padding: 15px;
        text-align: center;

        .profile-pic {
            margin-left: auto;
            margin-right: auto;
        }
    }

    .dp-social-desktop {
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        transform: unset;
        text-align: center;

        li {
            display: inline-block;
            margin: 15px;
        }

        a {
            font-size: 35px;
        }
    }

    .dp-area-tag {
        display: none;
    }

    .dp-about {
        padding: 50px 0;
    }

    .dp-about-contant {

        label {
            font-size: em(20);
            margin-bottom: 30px;
        }

        p {
            font-size: em(25);
            line-height: 35px;
            margin-bottom: 30px;
        }
    }

    .dp-skill {
        padding: 50px 0 0 0;
    }

    .dp-skill-info {
        max-width: 100%;

        label {
            font-size: 1.3em;
            line-height: 25px;
            margin-bottom: 15px;
        }

        .dp-skill-icon {
            width: 120px;
            right: 50px;
        }
    }

    .dp-work-details {
        padding: 0;
    }

    .dp-work {
        padding: 60px 0;
    }

    .dp-work-name {
        position: absolute;
        bottom: 30px;
        left: 30px;

        h3 {
            font-size: 2.3em;
        }
    }

    .dp-work-link {
        &::before {
            display: none;
        }

        &::after {
            opacity: .7 !important;
            background: #1c1d25 !important;
        }
    }

    .dp-experiment {
        padding: 30px 0 0 0;
        margin: 0 0 30px 0;
    }

    .dp-experiment-item {
        padding: 20px 15px;

        figure {
            margin-bottom: 20px;
        }

        label {
            font-size: 1.3em;
        }
    }

    .dp-testimonials {
        padding: 70px 0 40px 0;
    }

    .dp-testimonial-text {
        .dp-testimonial-pic {
            width: 100px;
            height: 100px;
            margin-bottom: 20px;
            position: relative;
            text-align: center;
            margin: 0 auto 20px auto;
        }

        .dp-testimonial-word {
            padding-left: 0;
            text-align: center;
        }

        p {
            font-size: 1.5em;
            line-height: 1.4;
            padding: 40px 0 0 0;

            &::before {
                right: 0;
                margin: 0 auto;
            }
        }

        label {
            font-size: 1.5em;
        }

        .dp-testimonials-slider .slick-dots {
            margin-top: 30px;
        }
    }

    .dp-footer-content {
        margin-top: 80px;

        h2 {
            font-size: 2.5em;
        }
    }

    .dp-footer-links {
        padding: 20px 0;

        li {
            margin: 0 10px;

            a {
                font-size: 1.2em;

                span {
                    display: none;
                }
            }
        }
    }

    .dp-contact {
        padding: 0;
    }

    .dp-contact-content {
        position: relative;
        top: auto;
        left: 0;
        right: 0;
        max-width: 100%;
        transform: none;
        margin: 0;
        height: auto;
        border: 0;
    }

    .dp-about-more {
        padding: 0;
    }

    .dp-about-content {
        border: 0;

        .tab-list-area {
            padding-top: 50px;
        }

        .tab-content {
            padding: 30px 15px;
        }
    }

    .dp-certificate {
        margin-bottom: 60px;
    }

    .dp-certificate-item {
        h3 {
            font-size: em(14);
        }
    }

    .dp-skill-list {
        li {
            font-size: em(13);
            margin-bottom: 35px;

            img {
                width: 60px;
                margin: 0 auto;
            }
        }
    }

}

// min-width media
@media(min-width: 768px) {
    .dp-social-desktop {
        margin-right: -25px;

        li {
            a {
                @include transition;

                &:hover {
                    margin-left: -25px;
                }
            }
        }
    }
}

/* site css end */