/* reset css strat */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote {

    &:before,
    &:after {
        content: '';
        content: none;
    }
}

q {

    &:before,
    &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

/* reset css end */

/* custome grid and container */
.dp-container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .dp-container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .dp-container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .dp-container {
        width: 1170px;
    }
}

.dp-container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.dp-row {
    margin-right: -15px;
    margin-left: -15px;
}

.dp-row-no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.dp-row-no-gutters [class*="dp-col-"] {
    padding-right: 0;
    padding-left: 0;
}

.dp-col-xs-1,
.dp-col-sm-1,
.dp-col-md-1,
.dp-col-lg-1,
.dp-col-xs-2,
.dp-col-sm-2,
.dp-col-md-2,
.dp-col-lg-2,
.dp-col-xs-3,
.dp-col-sm-3,
.dp-col-md-3,
.dp-col-lg-3,
.dp-col-xs-4,
.dp-col-sm-4,
.dp-col-md-4,
.dp-col-lg-4,
.dp-col-xs-5,
.dp-col-sm-5,
.dp-col-md-5,
.dp-col-lg-5,
.dp-col-xs-6,
.dp-col-sm-6,
.dp-col-md-6,
.dp-col-lg-6,
.dp-col-xs-7,
.dp-col-sm-7,
.dp-col-md-7,
.dp-col-lg-7,
.dp-col-xs-8,
.dp-col-sm-8,
.dp-col-md-8,
.dp-col-lg-8,
.dp-col-xs-9,
.dp-col-sm-9,
.dp-col-md-9,
.dp-col-lg-9,
.dp-col-xs-10,
.dp-col-sm-10,
.dp-col-md-10,
.dp-col-lg-10,
.dp-col-xs-11,
.dp-col-sm-11,
.dp-col-md-11,
.dp-col-lg-11,
.dp-col-xs-12,
.dp-col-sm-12,
.dp-col-md-12,
.dp-col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.dp-col-xs-1,
.dp-col-xs-2,
.dp-col-xs-3,
.dp-col-xs-4,
.dp-col-xs-5,
.dp-col-xs-6,
.dp-col-xs-7,
.dp-col-xs-8,
.dp-col-xs-9,
.dp-col-xs-10,
.dp-col-xs-11,
.dp-col-xs-12 {
    float: left;
}

.dp-col-xs-12 {
    width: 100%;
}

.dp-col-xs-11 {
    width: 91.66666667%;
}

.dp-col-xs-10 {
    width: 83.33333333%;
}

.dp-col-xs-9 {
    width: 75%;
}

.dp-col-xs-8 {
    width: 66.66666667%;
}

.dp-col-xs-7 {
    width: 58.33333333%;
}

.dp-col-xs-6 {
    width: 50%;
}

.dp-col-xs-5 {
    width: 41.66666667%;
}

.dp-col-xs-4 {
    width: 33.33333333%;
}

.dp-col-xs-3 {
    width: 25%;
}

.dp-col-xs-2 {
    width: 16.66666667%;
}

.dp-col-xs-1 {
    width: 8.33333333%;
}

.dp-col-xs-pull-12 {
    right: 100%;
}

.dp-col-xs-pull-11 {
    right: 91.66666667%;
}

.dp-col-xs-pull-10 {
    right: 83.33333333%;
}

.dp-col-xs-pull-9 {
    right: 75%;
}

.dp-col-xs-pull-8 {
    right: 66.66666667%;
}

.dp-col-xs-pull-7 {
    right: 58.33333333%;
}

.dp-col-xs-pull-6 {
    right: 50%;
}

.dp-col-xs-pull-5 {
    right: 41.66666667%;
}

.dp-col-xs-pull-4 {
    right: 33.33333333%;
}

.dp-col-xs-pull-3 {
    right: 25%;
}

.dp-col-xs-pull-2 {
    right: 16.66666667%;
}

.dp-col-xs-pull-1 {
    right: 8.33333333%;
}

.dp-col-xs-pull-0 {
    right: auto;
}

.dp-col-xs-push-12 {
    left: 100%;
}

.dp-col-xs-push-11 {
    left: 91.66666667%;
}

.dp-col-xs-push-10 {
    left: 83.33333333%;
}

.dp-col-xs-push-9 {
    left: 75%;
}

.dp-col-xs-push-8 {
    left: 66.66666667%;
}

.dp-col-xs-push-7 {
    left: 58.33333333%;
}

.dp-col-xs-push-6 {
    left: 50%;
}

.dp-col-xs-push-5 {
    left: 41.66666667%;
}

.dp-col-xs-push-4 {
    left: 33.33333333%;
}

.dp-col-xs-push-3 {
    left: 25%;
}

.dp-col-xs-push-2 {
    left: 16.66666667%;
}

.dp-col-xs-push-1 {
    left: 8.33333333%;
}

.dp-col-xs-push-0 {
    left: auto;
}

.dp-col-xs-offset-12 {
    margin-left: 100%;
}

.dp-col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.dp-col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.dp-col-xs-offset-9 {
    margin-left: 75%;
}

.dp-col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.dp-col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.dp-col-xs-offset-6 {
    margin-left: 50%;
}

.dp-col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.dp-col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.dp-col-xs-offset-3 {
    margin-left: 25%;
}

.dp-col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.dp-col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.dp-col-xs-offset-0 {
    margin-left: 0%;
}

@media (min-width: 768px) {

    .dp-col-sm-1,
    .dp-col-sm-2,
    .dp-col-sm-3,
    .dp-col-sm-4,
    .dp-col-sm-5,
    .dp-col-sm-6,
    .dp-col-sm-7,
    .dp-col-sm-8,
    .dp-col-sm-9,
    .dp-col-sm-10,
    .dp-col-sm-11,
    .dp-col-sm-12 {
        float: left;
    }

    .dp-col-sm-12 {
        width: 100%;
    }

    .dp-col-sm-11 {
        width: 91.66666667%;
    }

    .dp-col-sm-10 {
        width: 83.33333333%;
    }

    .dp-col-sm-9 {
        width: 75%;
    }

    .dp-col-sm-8 {
        width: 66.66666667%;
    }

    .dp-col-sm-7 {
        width: 58.33333333%;
    }

    .dp-col-sm-6 {
        width: 50%;
    }

    .dp-col-sm-5 {
        width: 41.66666667%;
    }

    .dp-col-sm-4 {
        width: 33.33333333%;
    }

    .dp-col-sm-3 {
        width: 25%;
    }

    .dp-col-sm-2 {
        width: 16.66666667%;
    }

    .dp-col-sm-1 {
        width: 8.33333333%;
    }

    .dp-col-sm-pull-12 {
        right: 100%;
    }

    .dp-col-sm-pull-11 {
        right: 91.66666667%;
    }

    .dp-col-sm-pull-10 {
        right: 83.33333333%;
    }

    .dp-col-sm-pull-9 {
        right: 75%;
    }

    .dp-col-sm-pull-8 {
        right: 66.66666667%;
    }

    .dp-col-sm-pull-7 {
        right: 58.33333333%;
    }

    .dp-col-sm-pull-6 {
        right: 50%;
    }

    .dp-col-sm-pull-5 {
        right: 41.66666667%;
    }

    .dp-col-sm-pull-4 {
        right: 33.33333333%;
    }

    .dp-col-sm-pull-3 {
        right: 25%;
    }

    .dp-col-sm-pull-2 {
        right: 16.66666667%;
    }

    .dp-col-sm-pull-1 {
        right: 8.33333333%;
    }

    .dp-col-sm-pull-0 {
        right: auto;
    }

    .dp-col-sm-push-12 {
        left: 100%;
    }

    .dp-col-sm-push-11 {
        left: 91.66666667%;
    }

    .dp-col-sm-push-10 {
        left: 83.33333333%;
    }

    .dp-col-sm-push-9 {
        left: 75%;
    }

    .dp-col-sm-push-8 {
        left: 66.66666667%;
    }

    .dp-col-sm-push-7 {
        left: 58.33333333%;
    }

    .dp-col-sm-push-6 {
        left: 50%;
    }

    .dp-col-sm-push-5 {
        left: 41.66666667%;
    }

    .dp-col-sm-push-4 {
        left: 33.33333333%;
    }

    .dp-col-sm-push-3 {
        left: 25%;
    }

    .dp-col-sm-push-2 {
        left: 16.66666667%;
    }

    .dp-col-sm-push-1 {
        left: 8.33333333%;
    }

    .dp-col-sm-push-0 {
        left: auto;
    }

    .dp-col-sm-offset-12 {
        margin-left: 100%;
    }

    .dp-col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .dp-col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .dp-col-sm-offset-9 {
        margin-left: 75%;
    }

    .dp-col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .dp-col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .dp-col-sm-offset-6 {
        margin-left: 50%;
    }

    .dp-col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .dp-col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .dp-col-sm-offset-3 {
        margin-left: 25%;
    }

    .dp-col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .dp-col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .dp-col-sm-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 992px) {

    .dp-col-md-1,
    .dp-col-md-2,
    .dp-col-md-3,
    .dp-col-md-4,
    .dp-col-md-5,
    .dp-col-md-6,
    .dp-col-md-7,
    .dp-col-md-8,
    .dp-col-md-9,
    .dp-col-md-10,
    .dp-col-md-11,
    .dp-col-md-12 {
        float: left;
    }

    .dp-col-md-12 {
        width: 100%;
    }

    .dp-col-md-11 {
        width: 91.66666667%;
    }

    .dp-col-md-10 {
        width: 83.33333333%;
    }

    .dp-col-md-9 {
        width: 75%;
    }

    .dp-col-md-8 {
        width: 66.66666667%;
    }

    .dp-col-md-7 {
        width: 58.33333333%;
    }

    .dp-col-md-6 {
        width: 50%;
    }

    .dp-col-md-5 {
        width: 41.66666667%;
    }

    .dp-col-md-4 {
        width: 33.33333333%;
    }

    .dp-col-md-3 {
        width: 25%;
    }

    .dp-col-md-2 {
        width: 16.66666667%;
    }

    .dp-col-md-1 {
        width: 8.33333333%;
    }

    .dp-col-md-pull-12 {
        right: 100%;
    }

    .dp-col-md-pull-11 {
        right: 91.66666667%;
    }

    .dp-col-md-pull-10 {
        right: 83.33333333%;
    }

    .dp-col-md-pull-9 {
        right: 75%;
    }

    .dp-col-md-pull-8 {
        right: 66.66666667%;
    }

    .dp-col-md-pull-7 {
        right: 58.33333333%;
    }

    .dp-col-md-pull-6 {
        right: 50%;
    }

    .dp-col-md-pull-5 {
        right: 41.66666667%;
    }

    .dp-col-md-pull-4 {
        right: 33.33333333%;
    }

    .dp-col-md-pull-3 {
        right: 25%;
    }

    .dp-col-md-pull-2 {
        right: 16.66666667%;
    }

    .dp-col-md-pull-1 {
        right: 8.33333333%;
    }

    .dp-col-md-pull-0 {
        right: auto;
    }

    .dp-col-md-push-12 {
        left: 100%;
    }

    .dp-col-md-push-11 {
        left: 91.66666667%;
    }

    .dp-col-md-push-10 {
        left: 83.33333333%;
    }

    .dp-col-md-push-9 {
        left: 75%;
    }

    .dp-col-md-push-8 {
        left: 66.66666667%;
    }

    .dp-col-md-push-7 {
        left: 58.33333333%;
    }

    .dp-col-md-push-6 {
        left: 50%;
    }

    .dp-col-md-push-5 {
        left: 41.66666667%;
    }

    .dp-col-md-push-4 {
        left: 33.33333333%;
    }

    .dp-col-md-push-3 {
        left: 25%;
    }

    .dp-col-md-push-2 {
        left: 16.66666667%;
    }

    .dp-col-md-push-1 {
        left: 8.33333333%;
    }

    .dp-col-md-push-0 {
        left: auto;
    }

    .dp-col-md-offset-12 {
        margin-left: 100%;
    }

    .dp-col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .dp-col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .dp-col-md-offset-9 {
        margin-left: 75%;
    }

    .dp-col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .dp-col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .dp-col-md-offset-6 {
        margin-left: 50%;
    }

    .dp-col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .dp-col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .dp-col-md-offset-3 {
        margin-left: 25%;
    }

    .dp-col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .dp-col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .dp-col-md-offset-0 {
        margin-left: 0%;
    }
}

@media (min-width: 1200px) {

    .dp-col-lg-1,
    .dp-col-lg-2,
    .dp-col-lg-3,
    .dp-col-lg-4,
    .dp-col-lg-5,
    .dp-col-lg-6,
    .dp-col-lg-7,
    .dp-col-lg-8,
    .dp-col-lg-9,
    .dp-col-lg-10,
    .dp-col-lg-11,
    .dp-col-lg-12 {
        float: left;
    }

    .dp-col-lg-12 {
        width: 100%;
    }

    .dp-col-lg-11 {
        width: 91.66666667%;
    }

    .dp-col-lg-10 {
        width: 83.33333333%;
    }

    .dp-col-lg-9 {
        width: 75%;
    }

    .dp-col-lg-8 {
        width: 66.66666667%;
    }

    .dp-col-lg-7 {
        width: 58.33333333%;
    }

    .dp-col-lg-6 {
        width: 50%;
    }

    .dp-col-lg-5 {
        width: 41.66666667%;
    }

    .dp-col-lg-4 {
        width: 33.33333333%;
    }

    .dp-col-lg-3 {
        width: 25%;
    }

    .dp-col-lg-2 {
        width: 16.66666667%;
    }

    .dp-col-lg-1 {
        width: 8.33333333%;
    }

    .dp-col-lg-pull-12 {
        right: 100%;
    }

    .dp-col-lg-pull-11 {
        right: 91.66666667%;
    }

    .dp-col-lg-pull-10 {
        right: 83.33333333%;
    }

    .dp-col-lg-pull-9 {
        right: 75%;
    }

    .dp-col-lg-pull-8 {
        right: 66.66666667%;
    }

    .dp-col-lg-pull-7 {
        right: 58.33333333%;
    }

    .dp-col-lg-pull-6 {
        right: 50%;
    }

    .dp-col-lg-pull-5 {
        right: 41.66666667%;
    }

    .dp-col-lg-pull-4 {
        right: 33.33333333%;
    }

    .dp-col-lg-pull-3 {
        right: 25%;
    }

    .dp-col-lg-pull-2 {
        right: 16.66666667%;
    }

    .dp-col-lg-pull-1 {
        right: 8.33333333%;
    }

    .dp-col-lg-pull-0 {
        right: auto;
    }

    .dp-col-lg-push-12 {
        left: 100%;
    }

    .dp-col-lg-push-11 {
        left: 91.66666667%;
    }

    .dp-col-lg-push-10 {
        left: 83.33333333%;
    }

    .dp-col-lg-push-9 {
        left: 75%;
    }

    .dp-col-lg-push-8 {
        left: 66.66666667%;
    }

    .dp-col-lg-push-7 {
        left: 58.33333333%;
    }

    .dp-col-lg-push-6 {
        left: 50%;
    }

    .dp-col-lg-push-5 {
        left: 41.66666667%;
    }

    .dp-col-lg-push-4 {
        left: 33.33333333%;
    }

    .dp-col-lg-push-3 {
        left: 25%;
    }

    .dp-col-lg-push-2 {
        left: 16.66666667%;
    }

    .dp-col-lg-push-1 {
        left: 8.33333333%;
    }

    .dp-col-lg-push-0 {
        left: auto;
    }

    .dp-col-lg-offset-12 {
        margin-left: 100%;
    }

    .dp-col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .dp-col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .dp-col-lg-offset-9 {
        margin-left: 75%;
    }

    .dp-col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .dp-col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .dp-col-lg-offset-6 {
        margin-left: 50%;
    }

    .dp-col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .dp-col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .dp-col-lg-offset-3 {
        margin-left: 25%;
    }

    .dp-col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .dp-col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .dp-col-lg-offset-0 {
        margin-left: 0%;
    }
}

.clearfix:before,
.clearfix:after,
.dp-container:before,
.dp-container:after,
.dp-container-fluid:before,
.dp-container-fluid:after,
.dp-row:before,
.dp-row:after {
    display: table;
    content: " ";
}

.clearfix:after,
.dp-container:after,
.dp-container-fluid:after,
.dp-row:after {
    clear: both;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.hidden {
    display: none !important;
}

.affix {
    position: fixed;
}

/* custome grid and container ends */

/* fontface starts */
@font-face {
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.eot');
    src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Light.woff2') format('woff2'),
        url('../fonts/Gilroy-Light.woff') format('woff'),
        url('../fonts/Gilroy-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Bold.woff2') format('woff2'),
        url('../fonts/Gilroy-Bold.woff') format('woff'),
        url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.eot');
    src: url('../fonts/Gilroy-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
        url('../fonts/Gilroy-ExtraBold.woff') format('woff'),
        url('../fonts/Gilroy-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-LightItalic';
    src: url('../fonts/Gilroy-LightItalic.eot');
    src: url('../fonts/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-LightItalic.woff2') format('woff2'),
        url('../fonts/Gilroy-LightItalic.woff') format('woff'),
        url('../fonts/Gilroy-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gilroy-SemiBold';
    src: url('../fonts/Gilroy-SemiBold.eot');
    src: url('../fonts/Gilroy-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-SemiBold.woff2') format('woff2'),
        url('../fonts/Gilroy-SemiBold.woff') format('woff'),
        url('../fonts/Gilroy-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Regular.woff2') format('woff2'),
        url('../fonts/Gilroy-Regular.woff') format('woff'),
        url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy-Medium';
    src: url('../fonts/Gilroy-Medium.eot');
    src: url('../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Gilroy-Medium.woff2') format('woff2'),
        url('../fonts/Gilroy-Medium.woff') format('woff'),
        url('../fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* fontface starts ends*/