// color
$black:#000000;
$white:#ffffff;
$white-gray: #F9FCFE;
$primary-color: #4A4A4A;
$secondary-color: #4A4A4A;
$dark: #1C1D25;
$site-color: #E5502B;
$site-2-color: #235AA6;
$transparent: rgba(0, 0, 0, 0);

// brake-points
$xs: 479px;
$sm: 767px;
$md: 991px;
$lg: 1199px;

/* mixins */

// gradients
@mixin primary-gradient {
    background: rgb(239, 54, 54);
    background: -moz-linear-gradient(180deg, rgba(239, 54, 54, 1) 0%, rgba(240, 100, 73, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(239, 54, 54, 1) 0%, rgba(240, 100, 73, 1) 100%);
    background: linear-gradient(180deg, rgba(239, 54, 54, 1) 0%, rgba(240, 100, 73, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef3636", endColorstr="#f06449", GradientType=1);
}

@mixin secondary-gradient {
    background: rgb(38, 64, 139);
    background: -moz-linear-gradient(180deg, rgba(38, 64, 139, 1) 0%, rgba(35, 90, 166, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(38, 64, 139, 1) 0%, rgba(35, 90, 166, 1) 100%);
    background: linear-gradient(180deg, rgba(38, 64, 139, 1) 0%, rgba(35, 90, 166, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26408b", endColorstr="#235aa6", GradientType=1);
}

@mixin blusih-gradient {
    background: rgb(28, 29, 37);
    background: -moz-linear-gradient(146deg, rgba(28, 29, 37, 1) 28%, rgba(8, 47, 101, 1) 100%);
    background: -webkit-linear-gradient(146deg, rgba(28, 29, 37, 1) 28%, rgba(8, 47, 101, 1) 100%);
    background: linear-gradient(146deg, rgba(28, 29, 37, 1) 28%, rgba(8, 47, 101, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1d25", endColorstr="#082f65", GradientType=1);
}

// transition
@mixin transition {
    -webkit-transition: all ease-in-out 0.3s;
    -moz-transition: all ease-in-out 0.3s;
    -o-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

// px to em 
$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
    @return #{$pixels/$context}em;
}