/* mixins */
/* reset css strat */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* reset css end */
/* custome grid and container */
.dp-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .dp-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .dp-container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .dp-container {
    width: 1170px;
  }
}

.dp-container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dp-row {
  margin-right: -15px;
  margin-left: -15px;
}

.dp-row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.dp-row-no-gutters [class*="dp-col-"] {
  padding-right: 0;
  padding-left: 0;
}

.dp-col-xs-1,
.dp-col-sm-1,
.dp-col-md-1,
.dp-col-lg-1,
.dp-col-xs-2,
.dp-col-sm-2,
.dp-col-md-2,
.dp-col-lg-2,
.dp-col-xs-3,
.dp-col-sm-3,
.dp-col-md-3,
.dp-col-lg-3,
.dp-col-xs-4,
.dp-col-sm-4,
.dp-col-md-4,
.dp-col-lg-4,
.dp-col-xs-5,
.dp-col-sm-5,
.dp-col-md-5,
.dp-col-lg-5,
.dp-col-xs-6,
.dp-col-sm-6,
.dp-col-md-6,
.dp-col-lg-6,
.dp-col-xs-7,
.dp-col-sm-7,
.dp-col-md-7,
.dp-col-lg-7,
.dp-col-xs-8,
.dp-col-sm-8,
.dp-col-md-8,
.dp-col-lg-8,
.dp-col-xs-9,
.dp-col-sm-9,
.dp-col-md-9,
.dp-col-lg-9,
.dp-col-xs-10,
.dp-col-sm-10,
.dp-col-md-10,
.dp-col-lg-10,
.dp-col-xs-11,
.dp-col-sm-11,
.dp-col-md-11,
.dp-col-lg-11,
.dp-col-xs-12,
.dp-col-sm-12,
.dp-col-md-12,
.dp-col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.dp-col-xs-1,
.dp-col-xs-2,
.dp-col-xs-3,
.dp-col-xs-4,
.dp-col-xs-5,
.dp-col-xs-6,
.dp-col-xs-7,
.dp-col-xs-8,
.dp-col-xs-9,
.dp-col-xs-10,
.dp-col-xs-11,
.dp-col-xs-12 {
  float: left;
}

.dp-col-xs-12 {
  width: 100%;
}

.dp-col-xs-11 {
  width: 91.66666667%;
}

.dp-col-xs-10 {
  width: 83.33333333%;
}

.dp-col-xs-9 {
  width: 75%;
}

.dp-col-xs-8 {
  width: 66.66666667%;
}

.dp-col-xs-7 {
  width: 58.33333333%;
}

.dp-col-xs-6 {
  width: 50%;
}

.dp-col-xs-5 {
  width: 41.66666667%;
}

.dp-col-xs-4 {
  width: 33.33333333%;
}

.dp-col-xs-3 {
  width: 25%;
}

.dp-col-xs-2 {
  width: 16.66666667%;
}

.dp-col-xs-1 {
  width: 8.33333333%;
}

.dp-col-xs-pull-12 {
  right: 100%;
}

.dp-col-xs-pull-11 {
  right: 91.66666667%;
}

.dp-col-xs-pull-10 {
  right: 83.33333333%;
}

.dp-col-xs-pull-9 {
  right: 75%;
}

.dp-col-xs-pull-8 {
  right: 66.66666667%;
}

.dp-col-xs-pull-7 {
  right: 58.33333333%;
}

.dp-col-xs-pull-6 {
  right: 50%;
}

.dp-col-xs-pull-5 {
  right: 41.66666667%;
}

.dp-col-xs-pull-4 {
  right: 33.33333333%;
}

.dp-col-xs-pull-3 {
  right: 25%;
}

.dp-col-xs-pull-2 {
  right: 16.66666667%;
}

.dp-col-xs-pull-1 {
  right: 8.33333333%;
}

.dp-col-xs-pull-0 {
  right: auto;
}

.dp-col-xs-push-12 {
  left: 100%;
}

.dp-col-xs-push-11 {
  left: 91.66666667%;
}

.dp-col-xs-push-10 {
  left: 83.33333333%;
}

.dp-col-xs-push-9 {
  left: 75%;
}

.dp-col-xs-push-8 {
  left: 66.66666667%;
}

.dp-col-xs-push-7 {
  left: 58.33333333%;
}

.dp-col-xs-push-6 {
  left: 50%;
}

.dp-col-xs-push-5 {
  left: 41.66666667%;
}

.dp-col-xs-push-4 {
  left: 33.33333333%;
}

.dp-col-xs-push-3 {
  left: 25%;
}

.dp-col-xs-push-2 {
  left: 16.66666667%;
}

.dp-col-xs-push-1 {
  left: 8.33333333%;
}

.dp-col-xs-push-0 {
  left: auto;
}

.dp-col-xs-offset-12 {
  margin-left: 100%;
}

.dp-col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.dp-col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.dp-col-xs-offset-9 {
  margin-left: 75%;
}

.dp-col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.dp-col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.dp-col-xs-offset-6 {
  margin-left: 50%;
}

.dp-col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.dp-col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.dp-col-xs-offset-3 {
  margin-left: 25%;
}

.dp-col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.dp-col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.dp-col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .dp-col-sm-1,
  .dp-col-sm-2,
  .dp-col-sm-3,
  .dp-col-sm-4,
  .dp-col-sm-5,
  .dp-col-sm-6,
  .dp-col-sm-7,
  .dp-col-sm-8,
  .dp-col-sm-9,
  .dp-col-sm-10,
  .dp-col-sm-11,
  .dp-col-sm-12 {
    float: left;
  }
  .dp-col-sm-12 {
    width: 100%;
  }
  .dp-col-sm-11 {
    width: 91.66666667%;
  }
  .dp-col-sm-10 {
    width: 83.33333333%;
  }
  .dp-col-sm-9 {
    width: 75%;
  }
  .dp-col-sm-8 {
    width: 66.66666667%;
  }
  .dp-col-sm-7 {
    width: 58.33333333%;
  }
  .dp-col-sm-6 {
    width: 50%;
  }
  .dp-col-sm-5 {
    width: 41.66666667%;
  }
  .dp-col-sm-4 {
    width: 33.33333333%;
  }
  .dp-col-sm-3 {
    width: 25%;
  }
  .dp-col-sm-2 {
    width: 16.66666667%;
  }
  .dp-col-sm-1 {
    width: 8.33333333%;
  }
  .dp-col-sm-pull-12 {
    right: 100%;
  }
  .dp-col-sm-pull-11 {
    right: 91.66666667%;
  }
  .dp-col-sm-pull-10 {
    right: 83.33333333%;
  }
  .dp-col-sm-pull-9 {
    right: 75%;
  }
  .dp-col-sm-pull-8 {
    right: 66.66666667%;
  }
  .dp-col-sm-pull-7 {
    right: 58.33333333%;
  }
  .dp-col-sm-pull-6 {
    right: 50%;
  }
  .dp-col-sm-pull-5 {
    right: 41.66666667%;
  }
  .dp-col-sm-pull-4 {
    right: 33.33333333%;
  }
  .dp-col-sm-pull-3 {
    right: 25%;
  }
  .dp-col-sm-pull-2 {
    right: 16.66666667%;
  }
  .dp-col-sm-pull-1 {
    right: 8.33333333%;
  }
  .dp-col-sm-pull-0 {
    right: auto;
  }
  .dp-col-sm-push-12 {
    left: 100%;
  }
  .dp-col-sm-push-11 {
    left: 91.66666667%;
  }
  .dp-col-sm-push-10 {
    left: 83.33333333%;
  }
  .dp-col-sm-push-9 {
    left: 75%;
  }
  .dp-col-sm-push-8 {
    left: 66.66666667%;
  }
  .dp-col-sm-push-7 {
    left: 58.33333333%;
  }
  .dp-col-sm-push-6 {
    left: 50%;
  }
  .dp-col-sm-push-5 {
    left: 41.66666667%;
  }
  .dp-col-sm-push-4 {
    left: 33.33333333%;
  }
  .dp-col-sm-push-3 {
    left: 25%;
  }
  .dp-col-sm-push-2 {
    left: 16.66666667%;
  }
  .dp-col-sm-push-1 {
    left: 8.33333333%;
  }
  .dp-col-sm-push-0 {
    left: auto;
  }
  .dp-col-sm-offset-12 {
    margin-left: 100%;
  }
  .dp-col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .dp-col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .dp-col-sm-offset-9 {
    margin-left: 75%;
  }
  .dp-col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .dp-col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .dp-col-sm-offset-6 {
    margin-left: 50%;
  }
  .dp-col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .dp-col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .dp-col-sm-offset-3 {
    margin-left: 25%;
  }
  .dp-col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .dp-col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .dp-col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .dp-col-md-1,
  .dp-col-md-2,
  .dp-col-md-3,
  .dp-col-md-4,
  .dp-col-md-5,
  .dp-col-md-6,
  .dp-col-md-7,
  .dp-col-md-8,
  .dp-col-md-9,
  .dp-col-md-10,
  .dp-col-md-11,
  .dp-col-md-12 {
    float: left;
  }
  .dp-col-md-12 {
    width: 100%;
  }
  .dp-col-md-11 {
    width: 91.66666667%;
  }
  .dp-col-md-10 {
    width: 83.33333333%;
  }
  .dp-col-md-9 {
    width: 75%;
  }
  .dp-col-md-8 {
    width: 66.66666667%;
  }
  .dp-col-md-7 {
    width: 58.33333333%;
  }
  .dp-col-md-6 {
    width: 50%;
  }
  .dp-col-md-5 {
    width: 41.66666667%;
  }
  .dp-col-md-4 {
    width: 33.33333333%;
  }
  .dp-col-md-3 {
    width: 25%;
  }
  .dp-col-md-2 {
    width: 16.66666667%;
  }
  .dp-col-md-1 {
    width: 8.33333333%;
  }
  .dp-col-md-pull-12 {
    right: 100%;
  }
  .dp-col-md-pull-11 {
    right: 91.66666667%;
  }
  .dp-col-md-pull-10 {
    right: 83.33333333%;
  }
  .dp-col-md-pull-9 {
    right: 75%;
  }
  .dp-col-md-pull-8 {
    right: 66.66666667%;
  }
  .dp-col-md-pull-7 {
    right: 58.33333333%;
  }
  .dp-col-md-pull-6 {
    right: 50%;
  }
  .dp-col-md-pull-5 {
    right: 41.66666667%;
  }
  .dp-col-md-pull-4 {
    right: 33.33333333%;
  }
  .dp-col-md-pull-3 {
    right: 25%;
  }
  .dp-col-md-pull-2 {
    right: 16.66666667%;
  }
  .dp-col-md-pull-1 {
    right: 8.33333333%;
  }
  .dp-col-md-pull-0 {
    right: auto;
  }
  .dp-col-md-push-12 {
    left: 100%;
  }
  .dp-col-md-push-11 {
    left: 91.66666667%;
  }
  .dp-col-md-push-10 {
    left: 83.33333333%;
  }
  .dp-col-md-push-9 {
    left: 75%;
  }
  .dp-col-md-push-8 {
    left: 66.66666667%;
  }
  .dp-col-md-push-7 {
    left: 58.33333333%;
  }
  .dp-col-md-push-6 {
    left: 50%;
  }
  .dp-col-md-push-5 {
    left: 41.66666667%;
  }
  .dp-col-md-push-4 {
    left: 33.33333333%;
  }
  .dp-col-md-push-3 {
    left: 25%;
  }
  .dp-col-md-push-2 {
    left: 16.66666667%;
  }
  .dp-col-md-push-1 {
    left: 8.33333333%;
  }
  .dp-col-md-push-0 {
    left: auto;
  }
  .dp-col-md-offset-12 {
    margin-left: 100%;
  }
  .dp-col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .dp-col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .dp-col-md-offset-9 {
    margin-left: 75%;
  }
  .dp-col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .dp-col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .dp-col-md-offset-6 {
    margin-left: 50%;
  }
  .dp-col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .dp-col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .dp-col-md-offset-3 {
    margin-left: 25%;
  }
  .dp-col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .dp-col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .dp-col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .dp-col-lg-1,
  .dp-col-lg-2,
  .dp-col-lg-3,
  .dp-col-lg-4,
  .dp-col-lg-5,
  .dp-col-lg-6,
  .dp-col-lg-7,
  .dp-col-lg-8,
  .dp-col-lg-9,
  .dp-col-lg-10,
  .dp-col-lg-11,
  .dp-col-lg-12 {
    float: left;
  }
  .dp-col-lg-12 {
    width: 100%;
  }
  .dp-col-lg-11 {
    width: 91.66666667%;
  }
  .dp-col-lg-10 {
    width: 83.33333333%;
  }
  .dp-col-lg-9 {
    width: 75%;
  }
  .dp-col-lg-8 {
    width: 66.66666667%;
  }
  .dp-col-lg-7 {
    width: 58.33333333%;
  }
  .dp-col-lg-6 {
    width: 50%;
  }
  .dp-col-lg-5 {
    width: 41.66666667%;
  }
  .dp-col-lg-4 {
    width: 33.33333333%;
  }
  .dp-col-lg-3 {
    width: 25%;
  }
  .dp-col-lg-2 {
    width: 16.66666667%;
  }
  .dp-col-lg-1 {
    width: 8.33333333%;
  }
  .dp-col-lg-pull-12 {
    right: 100%;
  }
  .dp-col-lg-pull-11 {
    right: 91.66666667%;
  }
  .dp-col-lg-pull-10 {
    right: 83.33333333%;
  }
  .dp-col-lg-pull-9 {
    right: 75%;
  }
  .dp-col-lg-pull-8 {
    right: 66.66666667%;
  }
  .dp-col-lg-pull-7 {
    right: 58.33333333%;
  }
  .dp-col-lg-pull-6 {
    right: 50%;
  }
  .dp-col-lg-pull-5 {
    right: 41.66666667%;
  }
  .dp-col-lg-pull-4 {
    right: 33.33333333%;
  }
  .dp-col-lg-pull-3 {
    right: 25%;
  }
  .dp-col-lg-pull-2 {
    right: 16.66666667%;
  }
  .dp-col-lg-pull-1 {
    right: 8.33333333%;
  }
  .dp-col-lg-pull-0 {
    right: auto;
  }
  .dp-col-lg-push-12 {
    left: 100%;
  }
  .dp-col-lg-push-11 {
    left: 91.66666667%;
  }
  .dp-col-lg-push-10 {
    left: 83.33333333%;
  }
  .dp-col-lg-push-9 {
    left: 75%;
  }
  .dp-col-lg-push-8 {
    left: 66.66666667%;
  }
  .dp-col-lg-push-7 {
    left: 58.33333333%;
  }
  .dp-col-lg-push-6 {
    left: 50%;
  }
  .dp-col-lg-push-5 {
    left: 41.66666667%;
  }
  .dp-col-lg-push-4 {
    left: 33.33333333%;
  }
  .dp-col-lg-push-3 {
    left: 25%;
  }
  .dp-col-lg-push-2 {
    left: 16.66666667%;
  }
  .dp-col-lg-push-1 {
    left: 8.33333333%;
  }
  .dp-col-lg-push-0 {
    left: auto;
  }
  .dp-col-lg-offset-12 {
    margin-left: 100%;
  }
  .dp-col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .dp-col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .dp-col-lg-offset-9 {
    margin-left: 75%;
  }
  .dp-col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .dp-col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .dp-col-lg-offset-6 {
    margin-left: 50%;
  }
  .dp-col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .dp-col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .dp-col-lg-offset-3 {
    margin-left: 25%;
  }
  .dp-col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .dp-col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .dp-col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.dp-container:before,
.dp-container:after,
.dp-container-fluid:before,
.dp-container-fluid:after,
.dp-row:before,
.dp-row:after {
  display: table;
  content: " ";
}

.clearfix:after,
.dp-container:after,
.dp-container-fluid:after,
.dp-row:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

/* custome grid and container ends */
/* fontface starts */
@font-face {
  font-family: 'Gilroy-Light';
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-LightItalic';
  src: url("../fonts/Gilroy-LightItalic.eot");
  src: url("../fonts/Gilroy-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff"), url("../fonts/Gilroy-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/* fontface starts ends*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* website site css start */
html {
  font-size: 100%;
  font-family: "Gilroy-Regular";
}

body {
  font-size: 16px;
  font-family: "Gilroy-Regular";
  color: #000000;
}

.dp-list-inline li {
  display: inline-block;
}

p {
  font-size: 1.375em;
  line-height: 30px;
  margin-bottom: 15px;
  font-family: "Gilroy-Light";
}

h2 {
  font-size: 2.8125em;
  font-family: "gilroy-Medium";
  margin-bottom: 90px;
  z-index: 1;
  position: relative;
}

.dp-btn {
  text-decoration: none;
  display: inline-block;
  font-size: 1.375em;
  font-family: "Gilroy-ExtraBold";
  color: #ffffff;
  line-height: 29px;
  padding: 10px;
  min-width: 180px;
  text-align: center;
  background: #ef3636;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef3636), to(#f06449));
  background: linear-gradient(180deg, #ef3636 0%, #f06449 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef3636", endColorstr="#f06449", GradientType=1);
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  position: relative;
  letter-spacing: 2px;
  cursor: pointer;
}

.dp-btn span {
  position: relative;
  z-index: 5;
}

.dp-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  -webkit-transition: inherit;
  transition: inherit;
  background: #26408b;
  background: -webkit-gradient(linear, left top, left bottom, from(#26408b), to(#235aa6));
  background: linear-gradient(180deg, #26408b 0%, #235aa6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26408b", endColorstr="#235aa6", GradientType=1);
}

.dp-btn:hover::after, .dp-btn:focus::after, .dp-btn:active::after {
  height: 100%;
}

#dp-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: #1C1D25;
  z-index: 3000;
}

#dp-loader span {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80px;
  -webkit-animation: loader 2s infinite ease-in;
          animation: loader 2s infinite ease-in;
}

#dp-loader span img {
  width: 100%;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  25% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  75% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes more-link {
  0% {
    bottom: 21px;
  }
  25% {
    bottom: -10px;
  }
  50% {
    bottom: 21px;
  }
  75% {
    bottom: -10px;
  }
  100% {
    bottom: 21px;
  }
}

@keyframes more-link {
  0% {
    bottom: 21px;
  }
  25% {
    bottom: -10px;
  }
  50% {
    bottom: 21px;
  }
  75% {
    bottom: -10px;
  }
  100% {
    bottom: 21px;
  }
}

.dp-darkHeader {
  background-color: #1C1D25;
  border-bottom: 2px solid #f2f2f2;
  padding: 5px 0;
  height: auto;
  position: fixed;
}

.dp-stripe-bg {
  display: inline-block;
  position: relative;
  color: #ffffff;
  padding: 10px 40px;
  z-index: 99;
}

.dp-stripe-bg::before, .dp-stripe-bg::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 10px;
  right: 10px;
  top: 0px;
  bottom: 0px;
  background-color: #26408B;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-stripe-bg::after {
  background-color: #EF3636;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  left: 0px;
  right: 0px;
}

.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-inline > li {
  padding: 10px;
}

.tab-list-area li {
  cursor: pointer;
  float: left;
}

.active-tab {
  background-color: gray;
  color: #fff;
}

.tab-content-area .tab-content {
  padding: 25px;
  line-height: 35px;
  font-size: 25px;
  text-align: justify;
}

.tab-content-area .tab-content {
  display: none;
}

.active-content {
  display: block !important;
}

#dp-particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1C1D25;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

#dp-particles-js canvas {
  display: block;
}

nav {
  height: 90px;
  padding: 17px 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-logo {
  float: left;
  width: 78px;
}

.dp-logo svg {
  width: 100%;
  height: auto;
}

.dp-navbar {
  margin: 0 -15px;
}

.dp-navigation {
  float: right;
  position: relative;
}

.dp-nav-links li {
  display: inline-block;
  padding: 18px 0 18px 50px;
}

.dp-nav-links li:first-child {
  padding-left: 0;
}

.dp-nav-links a {
  font-size: 1.375em;
  font-family: "Gilroy-Bold";
  color: #ffffff;
  opacity: 0.6;
  text-decoration: none;
  position: relative;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-nav-links a:after, .dp-nav-links a:before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #EF3636;
  -webkit-transition: inherit;
  transition: inherit;
}

.dp-nav-links a:before {
  bottom: -4px;
  left: auto;
  right: 0;
  background-color: #235AA6;
}

.dp-nav-links a:hover, .dp-nav-links a:focus, .dp-nav-links a:active {
  opacity: 1;
}

.dp-nav-links a:hover:after, .dp-nav-links a:hover:before, .dp-nav-links a:focus:after, .dp-nav-links a:focus:before, .dp-nav-links a:active:after, .dp-nav-links a:active:before {
  width: 100%;
}

.dp-social-mobile {
  position: absolute;
  bottom: 30px;
  left: 0;
  min-width: 280px;
  max-width: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.dp-social-mobile li {
  display: inline-block;
  margin: 0 5px;
}

.dp-social-mobile li a {
  display: inline-block;
  width: 40px;
  color: #ffffff;
  font-size: 26px;
}

.dp-social-mobile li a img {
  width: 100%;
}

.dp-nav-toggle,
.dp-contact-close,
.dp-about-more-close {
  float: right;
  border: 0;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  padding: 0;
  margin: 11px 0;
  display: none;
}

.dp-nav-toggle span,
.dp-contact-close span,
.dp-about-more-close span {
  display: block;
  height: 2px;
  width: 35px;
  background-color: #ffffff;
  border-radius: 2px;
  margin: 10px 0;
  position: relative;
}

.dp-nav-toggle span::after, .dp-nav-toggle span::before,
.dp-contact-close span::after,
.dp-contact-close span::before,
.dp-about-more-close span::after,
.dp-about-more-close span::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 2px;
}

.dp-nav-toggle span::before,
.dp-contact-close span::before,
.dp-about-more-close span::before {
  top: auto;
  bottom: -10px;
}

.dp-nav-toggle-close,
.dp-contact-close,
.dp-about-more-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dp-nav-toggle-close span,
.dp-contact-close span,
.dp-about-more-close span {
  padding: 7px;
  background: rgba(0, 0, 0, 0);
}

.dp-nav-toggle-close span:after,
.dp-contact-close span:after,
.dp-about-more-close span:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.dp-nav-toggle-close span:before,
.dp-contact-close span:before,
.dp-about-more-close span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.dp-home {
  position: relative;
}

.dp-home .dp-container {
  position: relative;
  min-height: 650px;
  height: 100vh;
}

.dp-home .dp-brand {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.2;
}

.dp-home .dp-brand img {
  width: 100%;
}

.dp-home-contant {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin: 20px 0;
  text-align: center;
}

.profile-pic {
  width: 250px;
  height: 250px;
  margin: 80px auto 15px auto;
  border-radius: 50%;
  overflow: hidden;
}

.profile-pic img {
  width: 100%;
  height: auto;
}

.dp-info h1 {
  font-size: 4.125em;
  font-family: "Gilroy-ExtraBold";
  color: #ffffff;
  line-height: 90px;
  margin-bottom: 20px;
}

.dp-info label {
  display: block;
  font-size: 1.375em;
  color: #ffffff;
  font-family: "Gilroy-lightItalic";
  font-weight: 600;
  margin-bottom: 40px;
}

.dp-social-desktop {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 45px;
}

.dp-social-desktop li {
  text-align: center;
  margin-bottom: 40px;
}

.dp-social-desktop li:last-child {
  margin-bottom: 0;
}

.dp-social-desktop a {
  font-size: 3.75em;
  color: #B0B2C3;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-social-desktop a:hover, .dp-social-desktop a:active, .dp-social-desktop a:focus {
  color: #ffffff;
}

.dp-area-tag {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 10px;
}

.dp-area-tag a {
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  display: inline-block;
  padding-bottom: 45px;
  position: relative;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-area-tag a::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 30px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 2px;
  height: 40px;
  background-color: #ffffff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-area-tag a::before {
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background: #ffffff;
  left: 50%;
  bottom: 6.5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  z-index: 1;
  -webkit-animation: more-link 5s infinite ease-in-out;
          animation: more-link 5s infinite ease-in-out;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-area-tag a:hover, .dp-area-tag a:focus, .dp-area-tag a:active {
  color: #EF3636;
}

.dp-area-tag a:hover:after, .dp-area-tag a:hover:before, .dp-area-tag a:focus:after, .dp-area-tag a:focus:before, .dp-area-tag a:active:after, .dp-area-tag a:active:before {
  background-color: #EF3636;
}

.dp-about {
  background: #ffffff;
  padding: 80px 0;
}

.dp-about-contant {
  max-width: 1000px;
}

.dp-about-contant label {
  font-size: 1.375em;
  font-weight: 500;
  margin-bottom: 40px;
  display: block;
}

.dp-about-contant p {
  font-size: 2.1875em;
  font-family: "Gilroy-SemiBold";
  line-height: 50px;
  margin-bottom: 80px;
}

.dp-skill {
  padding: 80px 0 30px 0;
  background: #ef3636;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef3636), to(#f06449));
  background: linear-gradient(180deg, #ef3636 0%, #f06449 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef3636", endColorstr="#f06449", GradientType=1);
  color: #ffffff;
}

.dp-skill h2 {
  margin-bottom: 70px;
}

.dp-skill-info {
  position: relative;
  max-width: 430px;
  margin-bottom: 60px;
}

.dp-skill-info label {
  display: block;
  font-size: 1.75em;
  line-height: 35px;
  font-family: "Gilroy-SemiBold";
  margin-bottom: 20px;
  position: relative;
  z-index: 5;
}

.dp-skill-info p {
  font-size: 1.25em;
  line-height: 28px;
  position: relative;
  z-index: 5;
}

.dp-skill-info .dp-skill-icon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0.04;
}

.dp-skill-info .dp-skill-icon img {
  max-width: 100%;
}

.dp-work {
  padding: 80px 0;
}

.dp-work,
.dp-experiment,
.dp-testimonials {
  background-color: #F9FCFE;
}

.dp-work h2,
.dp-experiment h2,
.dp-testimonials h2 {
  text-align: center;
  color: #4A4A4A;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.dp-work-details {
  padding: 0 20px;
}

.dp-work-details .dp-work-info {
  margin-bottom: 100px;
}

.dp-work-details .dp-work-info .dp-work-link {
  text-decoration: none;
  display: block;
  min-height: 480px;
  max-width: 930px;
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  position: relative;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-work-details .dp-work-info .dp-work-link:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #26408b;
  background: -webkit-gradient(linear, left top, left bottom, from(#26408b), to(#235aa6));
  background: linear-gradient(180deg, #26408b 0%, #235aa6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26408b", endColorstr="#235aa6", GradientType=1);
  z-index: -1;
}

.dp-work-details .dp-work-info .dp-work-link:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1c1d25;
  background: linear-gradient(146deg, #1c1d25 28%, #082f65 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1d25", endColorstr="#082f65", GradientType=1);
  opacity: 0.5;
}

.dp-work-details .dp-work-info:last-child {
  margin-bottom: 0;
}

.dp-work-details .dp-work-info:nth-child(odd) .dp-work-link {
  margin-right: auto;
}

.dp-work-details .dp-work-info:nth-child(odd) .dp-work-link::before {
  right: -20px;
  bottom: -20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-work-details .dp-work-info:nth-child(even) .dp-work-link {
  margin-left: auto;
}

.dp-work-details .dp-work-info:nth-child(even) .dp-work-link::before {
  left: -20px;
  bottom: -20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-work-details .dp-work-info .dp-work-link:hover::before {
  opacity: 0;
}

.dp-work-details .dp-work-info .dp-work-link:hover::after {
  opacity: 0.85;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-work-details .dp-work-info .dp-work-link:hover .dp-work-name {
  opacity: 1;
}

.dp-work-name {
  position: absolute;
  bottom: 35px;
  left: 65px;
  color: #ffffff;
  cursor: pointer;
  z-index: 5;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-work-name h3 {
  font-size: 3.125em;
  font-family: "Gilroy-Bold";
  color: inherit;
  margin: 0 0 15px 0;
}

.dp-work-name label {
  display: block;
  font-size: 1.25em;
  font-family: "Gilroy-LightItalic";
  color: inherit;
  margin: 0 0 25px 0;
  cursor: pointer;
  font-weight: bold;
}

.dp-experiment {
  padding: 50px 0;
  overflow: hidden;
}

.dp-experiment-item {
  text-decoration: none;
  display: block;
  text-align: center;
  background: #ef3636;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef3636), to(#f06449));
  background: linear-gradient(180deg, #ef3636 0%, #f06449 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef3636", endColorstr="#f06449", GradientType=1);
  padding: 55px 15px;
  -webkit-box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0px 60px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-experiment-item figure {
  display: block;
  max-width: 299px;
  margin: 0 auto;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 15px 40px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0 15px 40px 1px rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-experiment-item figure img {
  width: 100%;
  height: auto;
}

.dp-experiment-item label {
  display: block;
  font-size: 1.5625em;
  color: #ffffff;
  cursor: pointer;
}

.dp-experiment-item:hover, .dp-experiment-item:focus {
  background: #26408b;
  background: -webkit-gradient(linear, left top, left bottom, from(#26408b), to(#235aa6));
  background: linear-gradient(180deg, #26408b 0%, #235aa6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26408b", endColorstr="#235aa6", GradientType=1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  position: relative;
  z-index: 50;
}

.dp-testimonials {
  padding: 50px 0 80px 0;
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
}

.dp-testimonials.dp-stripe-animate::before {
  left: -100px;
}

.dp-testimonials.dp-stripe-animate::after {
  right: -100px;
}

.dp-testimonial-text {
  max-width: 1100px;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.dp-testimonial-text .dp-testimonial-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.dp-testimonial-text .dp-testimonial-pic img {
  max-width: 100%;
}

.dp-testimonial-text p {
  font-size: 2em;
  line-height: 1.5;
  font-family: "Gilroy-Medium";
  color: #000000;
  position: relative;
  padding: 55px 0 20px 0;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.dp-testimonial-text p::before {
  content: url("../img/quote-black.svg");
  position: absolute;
  top: 0;
  left: 0%;
}

.dp-testimonial-text label {
  display: inline-block;
  position: relative;
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Gilroy-Regular";
  background: #1C1D25;
  color: #ffffff;
  padding: 4px 8px;
}

.dp-testimonial-text .dp-testimonial-word {
  padding-left: 200px;
}

.dp-testimonials-slider .slick-dots {
  text-align: center;
  margin-top: 40px;
}

.dp-testimonials-slider .slick-dots li {
  display: inline-block;
  padding: 10px 5px;
}

.dp-testimonials-slider .slick-dots li button {
  padding: 0;
  border: 0;
  vertical-align: top;
  font-size: 0;
  width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 50%;
  background: #ef3636;
  background: -webkit-gradient(linear, left top, left bottom, from(#ef3636), to(#f06449));
  background: linear-gradient(180deg, #ef3636 0%, #f06449 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ef3636", endColorstr="#f06449", GradientType=1);
}

.dp-testimonials-slider .slick-dots li.slick-active button {
  background: #26408b;
  background: -webkit-gradient(linear, left top, left bottom, from(#26408b), to(#235aa6));
  background: linear-gradient(180deg, #26408b 0%, #235aa6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26408b", endColorstr="#235aa6", GradientType=1);
}

footer {
  background-color: #1C1D25;
  padding: 10px 0 0 0;
  margin: 50px 0 0 0;
  position: relative;
  z-index: 1;
  overflow: visible visible;
}

footer::before {
  content: '';
  position: absolute;
  background-color: #1C1D25;
  top: -40px;
  left: 0;
  width: 100%;
  height: 85px;
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

.dp-footer-content {
  max-width: 710px;
  margin: 100px auto 0 auto;
  text-align: center;
  color: #ffffff;
}

.dp-footer-content h2 {
  text-align: center;
  color: #ffffff;
  font-size: 3.5em;
  line-height: 1.2;
  margin: 0;
}

.dp-footer-content label {
  display: block;
}

.dp-footer-content label a {
  display: inline-block;
  text-decoration: none;
  font-size: 1.375em;
  color: #ffffff;
  letter-spacing: 2px;
  margin: 40px 0;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-footer-content label a:hover {
  color: #EF3636;
}

.dp-footer-content .dp-logo {
  float: none;
  margin: 0 auto 40px auto;
}

.dp-footer-content .dp-logo a {
  display: inline;
}

.dp-footer-content .dp-logo a:hover svg {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-footer-content .dp-logo a:hover svg path {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  fill: #EF3636;
}

.dp-footer-links {
  border-top: 1px solid #ffffff;
  text-align: center;
  padding: 40px 0;
}

.dp-footer-links li {
  display: inline-block;
  margin: 0 35px;
}

.dp-footer-links li a {
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-footer-links li a:hover {
  color: #EF3636;
}

.dp-footer-links li a:hover i {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  color: #235AA6;
}

.dp-contact,
.dp-about-more {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1C1D25;
  z-index: 2030;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transform: scale(0);
          transform: scale(0);
  padding: 15px;
  overflow: auto;
}

.dp-contact-close,
.dp-about-more-close {
  display: block;
  z-index: 2020;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.dp-contact-content {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  max-width: 1000px;
  min-height: 600px;
  height: 80vh;
  margin: 0 auto;
  -webkit-box-shadow: 20px 80px 99px rgba(0, 0, 0, 0.19);
          box-shadow: 20px 80px 99px rgba(0, 0, 0, 0.19);
  border: 1px solid #868686;
}

.dp-contact-content .dp-about-col {
  background-color: #F2F2F2;
  height: 100%;
  padding: 0;
}

.dp-contact-content .dp-form-col {
  background-color: #1C1D25;
  height: 100%;
  padding: 0;
  color: #ffffff;
}

.dp-contact-content h3 {
  font-size: 2em;
  font-family: "Gilroy-Bold";
  margin-bottom: 15px;
  color: inherit;
  position: relative;
  z-index: 1;
  letter-spacing: 4px;
}

.dp-contact-content h3 span {
  padding: 5px 15px;
}

.dp-contact-content h3 span::before {
  display: none;
}

.dp-contact-content h3 span::after {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
}

.dp-contact-content label {
  display: block;
  font-size: 1.125em;
  font-family: "Gilroy-Medium";
  margin-bottom: 40px;
}

.dp-contact-content p {
  font-size: 1.125em;
  line-height: 25px;
}

.dp-contact-content p span {
  color: #EF3636;
  font-family: "Gilroy-SemiBold";
}

.dp-contact-content .dp-btn {
  padding: 10px;
  min-width: 150px;
  margin-top: 25px;
}

.dp-contact-form,
.dp-contact-about {
  padding: 50px;
  height: 100%;
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: bottom right -60px;
}

.dp-tech span {
  display: inline-block;
  margin-right: 30px;
}

.dp-form-input {
  margin-bottom: 25px;
}

.dp-form-input input,
.dp-form-input textarea {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #ffffff;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px;
  font-family: "Gilroy-Medium";
  font-size: 1.125em;
  resize: none;
  background-color: #ffffff;
  font-style: italic;
  color: #1C1D25;
}

.dp-form-input input:hover, .dp-form-input input:focus, .dp-form-input input:active,
.dp-form-input textarea:hover,
.dp-form-input textarea:focus,
.dp-form-input textarea:active {
  border-color: #EF3636;
}

.dp-form-input input {
  height: 45px;
}

.dp-contact-open {
  width: 100%;
  overflow: hidden !important;
}

.dp-contact-open .dp-contact {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.dp-about-more-open {
  width: 100%;
  overflow: hidden !important;
}

.dp-about-more-open .dp-about-more {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

.dp-about-more {
  z-index: 2040;
  padding: 60px 10px;
  overflow-x: hidden;
}

.dp-about-more .dp-about-more-close {
  top: 5px;
  right: 5px;
  margin: 0;
  padding: 5px 0px 0 0;
}

.dp-about-more .dp-about-more-close::before {
  content: '';
  position: absolute;
  height: 100px;
  width: 100px;
  top: -45px;
  right: -35px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-radius: 50px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #ffffff;
}

.dp-about-more .dp-about-more-close span {
  z-index: 99;
  width: 45px;
}

.dp-about-more .dp-about-more-close span::before, .dp-about-more .dp-about-more-close span::after {
  background-color: #1C1D25;
}

.dp-about-content {
  max-width: 1300px;
  min-height: 800px;
  margin: 0 auto;
  padding-left: 80px;
  position: relative;
  border: 1px solid #F2F2F2;
  background: #F2F2F2;
  font-size: 1.25pxem;
}

.dp-about-content h3,
.dp-about-content p {
  text-align: left;
}

.dp-about-content .tab-list-area {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  padding: 100px 10px 0 0;
  background-color: #1C1D25;
}

.dp-about-content .tab-list-area ul.list-inline {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.dp-about-content .tab-list-area li {
  float: none;
  text-align: center;
  padding: 0;
  background: none !important;
}

.dp-about-content .tab-content {
  padding: 40px 25px;
}

.dp-about-content h3 {
  font-size: 1.125em;
  font-family: "Gilroy-Medium";
  margin-bottom: 20px;
}

.dp-about-content h3 span {
  padding: 3px 20px;
}

.dp-about-content p {
  font-size: 0.8125em;
  font-family: "Gilroy-Regular";
}

.dp-tab-icon {
  width: 65px;
  padding: 85px 10px;
  border-radius: 33px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  margin-top: -48px;
  z-index: 70;
  position: relative;
}

.dp-tab-icon::before {
  position: absolute;
  content: '';
  background-image: url(../img/dp-tab-icon-about.svg);
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.dp-tab-icon img {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.active-tab .dp-tab-icon {
  z-index: 1000 !important;
}

.dp-tab-icon.certificate {
  z-index: 90;
}

.dp-tab-icon.certificate::before {
  background-image: url(../img/dp-tab-icon-certificate.svg);
}

.dp-tab-icon.skills {
  z-index: 80;
}

.dp-tab-icon.skills::before {
  background-image: url(../img/dp-tab-icon-skills.svg);
}

.dp-about-text,
.dp-about-experience {
  margin-bottom: 50px;
}

.dp-about-contact li {
  font-size: 0.8125em;
  font-family: "Gilroy-Regular";
  line-height: 28px;
}

.dp-about-contact a {
  text-decoration: none;
  color: #000000;
}

.dp-about-contact ul:not(.dp-list-inline) {
  margin-bottom: 20px;
}

.dp-about-contact ul:not(.dp-list-inline) li a {
  font-family: "Gilroy-SemiBold";
}

.dp-about-contact ul.dp-list-inline li {
  margin-right: 16px;
  font-size: 1em;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.dp-about-contact ul.dp-list-inline li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.dp-cv-list li {
  font-size: 0.8125em;
  text-align: left;
  line-height: 30px;
  margin-bottom: 30px;
}

.dp-cv-list li label {
  font-family: "Gilroy-SemiBold";
  margin-right: 18px;
}

.dp-cv-list li span {
  display: inline-block;
  position: relative;
}

.dp-cv-list li span::before {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 3px;
  height: 15px;
  background-color: #FFE100;
  opacity: 0.8;
}

.dp-cv-list li small {
  position: relative;
  z-index: 10;
}

.dp-about-certificate h3 {
  margin-bottom: 40px;
}

.dp-certificate {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

.dp-certificate h3 span {
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 0;
}

.dp-certificate h3 span::before {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 3px;
  height: 15px;
  background-color: #FFE100;
  opacity: 0.8;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.dp-certificate h3 span small {
  position: relative;
  z-index: 10;
}

.dp-certificate .dp-certificate-img img {
  max-width: 100%;
}

.dp-certificate:hover h3 span::before {
  height: 30px;
}

.dp-certificate-item a {
  text-decoration: none;
  color: #000000;
}

.dp-certificate-item h3 {
  margin: 10px 0;
}

.dp-certificate-item:last-child .dp-certificate {
  margin-bottom: 0 !important;
}

.dp-skill-list {
  max-width: 720px;
  margin: 0 auto;
}

.dp-skill-list h3 {
  text-align: center;
  margin-bottom: 60px;
}

.dp-skill-list h3 span:not(.dp-stripe-bg) {
  display: inline-block;
  position: relative;
  text-align: left;
  padding: 0;
}

.dp-skill-list h3 span:not(.dp-stripe-bg)::before {
  content: '';
  position: absolute;
  left: -5px;
  right: -5px;
  bottom: 3px;
  height: 15px;
  background-color: #FFE100;
  opacity: 0.8;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.dp-skill-list h3 span:not(.dp-stripe-bg) small {
  position: relative;
  z-index: 10;
}

.dp-skill-list h3:hover span::before {
  height: 30px;
}

.dp-skill-list li {
  display: inline-block;
  text-align: center;
  margin-bottom: 50px;
}

.dp-skill-list li img {
  max-width: 80px;
  display: block;
  margin: 0 auto 12px auto;
}

.dp-more-skill-tag {
  margin-bottom: 0 !important;
}

@media (max-width: 991px) {
  h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
  }
  .dp-stripe-bg {
    padding: 5px 30px;
  }
  .dp-navbar {
    margin: 0;
  }
  nav {
    height: 70px;
    padding: 7px 0;
  }
  .dp-logo {
    width: 60px;
    margin: 6px 0;
  }
  .profile-pic {
    margin-top: 30px;
    width: 210px;
    height: 210px;
  }
  .dp-info h1 {
    font-size: 3.25em;
  }
  .dp-about {
    padding: 70px 0;
  }
  .dp-skill {
    padding: 70px 0 50px 0;
  }
  .dp-work {
    padding: 70px 0;
  }
  .dp-testimonials {
    padding: 70px 0;
  }
  .dp-work-details .dp-work-info {
    margin-bottom: 100px;
  }
  .dp-work-details .dp-work-info .dp-work-link {
    min-height: 350px;
    max-width: 700px;
  }
  .dp-testimonials::before, .dp-testimonials:after {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .dp-testimonials::before {
    top: 0;
  }
  .dp-testimonials::after {
    bottom: 0;
  }
  .dp-testimonials-slider .slick-dots {
    margin-top: 40px;
  }
  .dp-footer-content {
    margin-top: 100px;
  }
  .dp-footer-content h2 {
    font-size: 3em;
  }
  .dp-footer-links li {
    margin: 0 20px;
  }
  .dp-contact-form,
  .dp-contact-about {
    padding: 40px 30px;
  }
  .dp-about-content .tab-list-area {
    padding-right: 5px;
  }
  .dp-about-contact {
    margin-bottom: 50px;
  }
  .dp-about-content {
    padding-left: 50px;
  }
  .dp-tab-icon {
    width: 45px;
    padding: 56px 0;
    margin-top: -25px;
  }
  .dp-tab-icon img {
    width: 30px;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 1.625em;
  }
  .dp-btn {
    padding: 8px;
    min-width: 160px;
  }
  .dp-info h1 {
    line-height: 60px;
    margin-bottom: 30px;
  }
  nav {
    height: 55px;
    padding: 5px 0;
  }
  .dp-navigation {
    position: fixed;
    z-index: 2010;
    top: 0;
    left: -100%;
    width: 100%;
    background: #26408b;
    background: -webkit-gradient(linear, left top, left bottom, from(#26408b), to(#235aa6));
    background: linear-gradient(180deg, #26408b 0%, #235aa6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26408b", endColorstr="#235aa6", GradientType=1);
    min-height: 100vh;
    padding: 20px;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .dp-navigation.dp-navigation-open {
    left: 0 !important;
  }
  .dp-nav-links {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
    min-width: 280px;
    max-width: 100%;
  }
  .dp-nav-links li {
    display: block;
    padding: 0;
    margin: 0 0 30px 0;
  }
  .dp-nav-links li a {
    font-size: 1.875em;
  }
  .dp-logo {
    width: 45px;
  }
  .dp-nav-toggle,
  .dp-social-mobile {
    display: block;
  }
  .dp-brand {
    display: none;
  }
  .dp-home-contant {
    right: 0;
    width: 100%;
    margin: 0;
    padding: 15px;
    text-align: center;
  }
  .dp-home-contant .profile-pic {
    margin-left: auto;
    margin-right: auto;
  }
  .dp-social-desktop {
    top: auto;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    -webkit-transform: unset;
            transform: unset;
    text-align: center;
  }
  .dp-social-desktop li {
    display: inline-block;
    margin: 15px;
  }
  .dp-social-desktop a {
    font-size: 35px;
  }
  .dp-area-tag {
    display: none;
  }
  .dp-about {
    padding: 50px 0;
  }
  .dp-about-contant label {
    font-size: 1.25em;
    margin-bottom: 30px;
  }
  .dp-about-contant p {
    font-size: 1.5625em;
    line-height: 35px;
    margin-bottom: 30px;
  }
  .dp-skill {
    padding: 50px 0 0 0;
  }
  .dp-skill-info {
    max-width: 100%;
  }
  .dp-skill-info label {
    font-size: 1.3em;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .dp-skill-info .dp-skill-icon {
    width: 120px;
    right: 50px;
  }
  .dp-work-details {
    padding: 0;
  }
  .dp-work {
    padding: 60px 0;
  }
  .dp-work-name {
    position: absolute;
    bottom: 30px;
    left: 30px;
  }
  .dp-work-name h3 {
    font-size: 2.3em;
  }
  .dp-work-link::before {
    display: none;
  }
  .dp-work-link::after {
    opacity: .7 !important;
    background: #1c1d25 !important;
  }
  .dp-experiment {
    padding: 30px 0 0 0;
    margin: 0 0 30px 0;
  }
  .dp-experiment-item {
    padding: 20px 15px;
  }
  .dp-experiment-item figure {
    margin-bottom: 20px;
  }
  .dp-experiment-item label {
    font-size: 1.3em;
  }
  .dp-testimonials {
    padding: 70px 0 40px 0;
  }
  .dp-testimonial-text .dp-testimonial-pic {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    margin: 0 auto 20px auto;
  }
  .dp-testimonial-text .dp-testimonial-word {
    padding-left: 0;
    text-align: center;
  }
  .dp-testimonial-text p {
    font-size: 1.5em;
    line-height: 1.4;
    padding: 40px 0 0 0;
  }
  .dp-testimonial-text p::before {
    right: 0;
    margin: 0 auto;
  }
  .dp-testimonial-text label {
    font-size: 1.5em;
  }
  .dp-testimonial-text .dp-testimonials-slider .slick-dots {
    margin-top: 30px;
  }
  .dp-footer-content {
    margin-top: 80px;
  }
  .dp-footer-content h2 {
    font-size: 2.5em;
  }
  .dp-footer-links {
    padding: 20px 0;
  }
  .dp-footer-links li {
    margin: 0 10px;
  }
  .dp-footer-links li a {
    font-size: 1.2em;
  }
  .dp-footer-links li a span {
    display: none;
  }
  .dp-contact {
    padding: 0;
  }
  .dp-contact-content {
    position: relative;
    top: auto;
    left: 0;
    right: 0;
    max-width: 100%;
    -webkit-transform: none;
            transform: none;
    margin: 0;
    height: auto;
    border: 0;
  }
  .dp-about-more {
    padding: 0;
  }
  .dp-about-content {
    border: 0;
  }
  .dp-about-content .tab-list-area {
    padding-top: 50px;
  }
  .dp-about-content .tab-content {
    padding: 30px 15px;
  }
  .dp-certificate {
    margin-bottom: 60px;
  }
  .dp-certificate-item h3 {
    font-size: 0.875em;
  }
  .dp-skill-list li {
    font-size: 0.8125em;
    margin-bottom: 35px;
  }
  .dp-skill-list li img {
    width: 60px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .dp-social-desktop {
    margin-right: -25px;
  }
  .dp-social-desktop li a {
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
  }
  .dp-social-desktop li a:hover {
    margin-left: -25px;
  }
}

/* site css end */
/*# sourceMappingURL=style.css.map */